---
import Layout from '../layouts/Layout.astro';
import { Home } from '../components/Home';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<main class="min-h-screen flex flex-col justify-center items-center p-6">
		<h1 class="text-6xl mb-5">To Do Lists</h1>
		<Home client:only />	
	</main>
</Layout>
